* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a,h1,h2{
    color: #14bbe2 !important;
}

button input select textarea:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.header___bg {
    background: url('../src/images/Bg.png');
    background-size: cover;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
}

input.input-css {
    border-radius: 0px;
    border: none;
    width: 264px;
    position: relative;
    border-radius: 25px;
}

.search-btn {
    position: absolute;
    margin-left: 178px;
    margin-top: 4px;
    background: #14bbe2;
    color: #fff;
    border: none;
    padding: 3px 17px;
    border-radius: 25px;
}

.message__box  {
    background: #14bce263;
    backdrop-filter: blur(10px);
    border-radius: 11px;
    margin:50px;
    padding: 50px 50px;
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .message__box  {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

  span.special-text{
    color: #14bce263;
  }

.input-message{
    border-radius: 0px;
    border: none;
    width: 264px;
    position: relative;
    border-radius: 25px;
}
  .message__button{
    margin-left: 439px;
    background: #14bbe2;
    color: #fff;
    border: none;
    position: absolute;
    padding: 7px 17px;
    border-radius: 0px 4px 4px 0px;;
  }
ul,li{
  list-style: none;
}